body{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-anchor: rgb(0, 0, 0);
   color: rgb(10, 10, 10);
   text-align: center;
   background-image:url("bg5.jpg");
   background-size:cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
.welcome{
   color: #ffffff;
   font-size: 45px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 55px;
   margin-top: 40px;
   padding-right: 100px;
}
.top{
   color:rgb(238, 238, 238);
   font-size: 20px;
   text-decoration: underline;
   padding-right: 120px;
}
.info{
   border: 2px solid rgb(255, 255, 255);
   padding: 20px;
   margin: 10px;
   text-align: left;
   background-color: rgb(255, 255, 255);
}
b{
   color: rgb(0, 0, 0);
   font-size: 20px
}
a{
   color:transparent;
}
.logo{
       padding: 5px;
       width: 160px;
       margin: right auto;
       float:left;
       opacity: 0.5;
       border:none;
       margin-top: 30px;
   }
.logo:hover {
    box-shadow: 0 0 2px 1px rgb(255, 255, 255);
}

.click{
   text-decoration-color: gray;
   color: gray;
}

.imghover img.hover {
 transition: opacity .5s;
}
.imghover:hover img.hover {
 opacity: 100;
 transition: opacity .5s;
}
.imghover:hover img.main {
   opacity: 100;
   transition: opacity .5s;
}   

h1{
   color: rgb(0, 0, 0);
}

.b2{
   color: rgb(0, 0, 0);
   font-size: 18px;
}


hr{
   color: #FFF;   
 }

.text{
   color: rgb(0, 0, 0);
}
img{
   border: 3.8px solid #ffffff;
   width: 70%;
}

 .gradient-btn:nth-child(odd):hover {
   cursor: pointer;
   box-shadow: -6px -9px 2px -2px #0b4157;
   transition: all 2s ease;
   transform: translateX(10px);
 }
  
 .gradient-btn:nth-child(even):hover {
   cursor: pointer;
   box-shadow: 8px 8px 2px -2px #1b5564;
   transition: all 2s ease;
   transform: translateX(-10px);
 } 

 .btn-1 {
   background-image: linear-gradient(204deg, rgb(31, 80, 255) 0%, rgb(28, 49, 168) 100%);
   color: #FFF;
   display: inline-block;
   height: 50px;
   line-height: 50px;
   width: 220px;
   margin: 50px;
   font-size: large;
   border-radius: 60px;
   box-shadow: 5px 5px 2px -2px #000852;
 }

 .btn-2 {
   background-image: linear-gradient(204deg, rgb(31, 80, 255) 0%, rgb(28, 49, 168) 100%);
   color: #FFF;
   display: inline-block;
   height: 50px;
   line-height: 50px;
   width: 220px;
   margin: 50px;
   font-size: large;
   border-radius: 60px;
   box-shadow: 5px 5px 2px -2px #000852;
 }

 .btn-3 {
   background-image: linear-gradient(204deg, rgb(31, 80, 255) 0%, rgb(28, 49, 168) 100%);
   color: #FFF;
   display: inline-block;
   height: 50px;
   line-height: 50px;
   width: 220px;
   margin: 50px;
   font-size: large;
   border-radius: 60px;
   box-shadow: 5px 5px 2px -2px #000852;
 }

 .btn-4 {
   background-image: linear-gradient(204deg, rgb(31, 80, 255) 0%, rgb(28, 49, 168) 100%);
   color: #FFF;
   display: inline-block;
   height: 50px;
   line-height: 50px;
   width: 220px;
   margin: 50px;
   font-size: large;
   border-radius: 60px;
   box-shadow: 5px 5px 2px -2px #000852;
 }

